<canvas width="384" height="240" class="screen"></canvas>

<div class="debugger">
	<div class="disassembly">
		<% for (var i = 0; i < 10; i++) { %>
			<div class="row" address="FF00"></div>
		<% } %>
	</div>
	<div class="registers">
		<div class="register" name="PC" value="0000"></div>
		<div class="register" name="A"  value="0000"></div>
		<div class="register" name="X"  value="0000"></div>
		<div class="register" name="Y"  value="0000"></div>
		<div class="register" name="S"  value="0000"></div>
		<div class="register" name="P"  value="0000"></div>

		<div class="flags">
			<div class="flag" name="N"></div>
			<div class="flag" name="V"></div>
			<div class="flag" name="C"></div>
			<div class="flag" name="Z"></div>
			<div class="flag active" name="B"></div>
			<div class="flag active" name="D"></div>
			<div class="flag active" name="I"></div>
		</div>
	</div>
</div>
